@font-face{
    font-family:'Bold' ;
    src: url(../fonts/Aleo-Bold.otf);
}
@font-face {
    font-family:'Light' ;
    src: url(../fonts/Aleo-Light.otf);
}
@font-face {
    font-family:'Regular';
    src: url(../fonts/Aleo-Regular.otf);
}
@font-face {
    font-family: 'Italic';
    src: url(../fonts/Aleo-Italic.otf);
}